.Rproj.user
.Rhistory
.RData
.Ruserdata

data_intermediates/Illum_analyses/hmsc_fits_ab
data_intermediates/Illum_analyses/hmsc_fits_ab

# Code in the Rmarkdown "IllumFUN_Q2.Rmd" expects to find two folders at the following path location.
# path = "data_intermediates/Illum_analyses"
# folder names = "hmsc_fits_ab" and "hmsc_fits_pr"

# Data in these folders are too large to host on GitHub, but
# can be downloaded via this Google Drive link:
# https://drive.google.com/drive/folders/1Ni4_W7kkEudTCZkEuKxYvCTjngy_QRwQ?usp=sharing

# If you encounter issues, feel free to email marissaruthlee@gmail.com